$color-primario: #3873f3;
$color-secundario: #0f2432;
$color-terciario: #ffcc66;
$color-grisOscuro: #666666;
$color-gris: #999999;
$color-grisClaro: #ccc;

$color-backgroundColorPrimario: white;
$color-backgroundColorSecundario: #fcfcfc;

$font-size: 18px;
$font-family: "Oswald", sans-serif;
$font-weight: 400;

$transition: 0.3s;

$border-Radius: 8px;
